# dependencies
backend/*/node_modules/
frontend/node_modules/

# env
.env

# Keys (private and publics)
**/keys/*.key

# production
backend/*/dist/
frontend/build/
coverage

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
